.css-header{
    border-bottom: 0.5px solid black;
    padding-bottom: 5px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}

header .css-website-logo{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
